body {
    background-image: url("../img/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

canvas {
    display: block;
    margin: 0 auto;
    background-image: url("../img/table.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
}

.scores {
    min-width: 35%;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    color: rgb(0, 162, 255);
    margin-top: 20px;
}
  
#left-score, #right-score {
    display: inline-block;
    margin: 0 30px;
}