body {
    background-image: url("../img/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

canvas {
    display: block;
    margin: 0 auto;
    background-image: url("../img/table.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
}

.scores {
    min-width: 35%;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    color: rgb(0, 162, 255);
    margin-top: 20px;
}
  
#left-score, #right-score {
    display: inline-block;
    margin: 0 30px;
}

#waitingScreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    max-width: 400px;
    height: 30vh;
    max-height: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
  }  
  
  .waitingScreen-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    padding: 20px;
  }
  
  .waitingScreen-inner h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .waitingScreen-inner p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .waitingText {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  
  @media screen and (max-width: 600px) {
    #waitingScreen {
      width: 90vw;
      max-width: 300px;
      height: 40vh;
      max-height: 150px;
    }
    
    .waitingScreen-inner {
      padding: 10px;
    }
  
    .waitingScreen-inner h1 {
      font-size: 20px;
      margin-bottom: 5px;
    }
  
    .waitingScreen-inner p {
      font-size: 16px;
      margin-bottom: 10px;
    }
  
    .waitingText {
      font-size: 18px;
      margin-top: 10px;
    }
  }